#container{
    width: 900px;
    margin:20px auto;
}

/* header*/
header{
    width: 100%;
    height: 100px;
    background-color:#4ea0ff;
    background-image: url("../img/pattern.png");
    background-size: auto 200px;
} 
/*main*/
#logo{
    width: 150px;
    height: auto;
    margin: 50px 10px 0;
}

main{
    margin:20px 10px;
}

h1{
    margin-bottom: 0;
}
#nameautor{
    color: #2daee6;
}

#autor{
    font-size: 15px;
    margin-top: 5px;
    color: rgb(106, 105, 105);
}

.small{
    font-size: 12px;
    color: rgb(106, 105, 105);
}

.imgprincipali{
    margin-top: 20px;
    height: 300px;
    width: auto;
}

.highlighted{
    background-color: yellow;
}

table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
}

thead{
    background-color: #20a9e5;
    color: white;
}
.trsize{
    width:20% ;
}

.trcolor{
    background-color: #98d7ed;
}